/*所有页面的样式表*/
body{
	font-size: 14px;
	font-family: "黑体";
	color: #684029;

}
body header{
	margin:-10px 0 0 0;
	background: #fff;
	z-index: 1000;
	height: 80px;
	width: 100%;
	position: fixed;
	box-shadow: 0 2px 2px 0 rgba(195,195,195,0.5);
}
body header .inner{
	width: 1200px;
	margin: 0 auto;/*外边距*/
}
body header .inner .logo{
	height: 44px;
	width: 120px;
	padding-top: 18px;
	float: left;
}
body header .inner ul{
	list-style: none;
}
body header .inner .nav{
	float: left;
	margin-left: 30px;
}
body header .inner .nav li{
	position: relative;
	float: left;
	display: list-item;
	height: 44px;
	line-height: 44px;
	margin:0 18px;
}
body header .inner .join{
	position: relative;
	float: right;
}
body header .inner .join li{
	position: relative;
	float: left;
	display: list-item;
	height: 44px;
	line-height: 44px;
	margin:0 18px;
}
body header .inner .join li .city{
	background: url(../img/icon.png) no-repeat;
	background-size: 310px 120px;
	background-position: 0 -59px;
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	top: 22px;
	right: -15px;
}
body header .inner .join .cart{
	position: relative;
	padding: 30px 6px 20px 0;
	display: block;
	height: 32px;
}
body header .inner .join .cart i{
	background: url(../img/icon.png) no-repeat;
	background-size: 310px 120px;
	background-position: -286px -76px;
	width: 25px;
	height: 20px;
	display: block;
	position: absolute;
	top: 13px;
}
/*注册页中间部分*/
body .login-background{
	background: url(../img/passport-banner.jpg)no-repeat top;
}
body .login-background .reg-content-box{
	position: absolute;/*绝对位置*/
	/*height: 100%*/
	margin-top: 150px;
	margin-left: 950px;
}
body .login-background .reg-content-box .form-login-box{
	position: absolute;
	width: 380px;
	top: 90px;
	border: 1px #e9e9e9 solid;
	background: #fff;
	padding:28px 40px;
}
body .login-background .reg-content-box .form-login-box .login-regi-title{
	height:25px; 
}
body .login-background .reg-content-box .form-login-box .login-regi-title h2{
	line-height: 25px;
	text-align: center;
	font-size:18px;
	cursor: pointer;
}
body .login-background .reg-content-box .form-login-box form{
	display: block;
}
body .login-background .reg-content-box .form-login-box form .form-content{
	padding-top: 15px;
}
body .login-background .reg-content-box .form-login-box form .form-content li{
	margin:12px 0;
}
body .login-background .reg-content-box .form-login-box form .form-content input{
	border: 1px solid #efefef;
	width: 290px;
	height: 36px;
	font-size: 12px;
	padding:0 5px;
}
body .login-background .reg-content-box .form-login-box form .form-content ul{
	display: block;
	width: 100%;
}
body .login-background .reg-content-box .form-login-box form .form-content .resiter-user .login-button{
	 color: #fff;
	background: #442818; 
	font-size:16px;
	display: block;
	width: 302px;
	height: 46px;
	cursor: pointer;
}
body .login-background .reg-content-box .form-login-box form .reading-protocol{
	/*margin-top: 15px;
	height: 18px;
	line-height: 18px;
	font-size:12px;*/
	text-align: center;
}
body .login-background .reg-content-box .form-login-box form .reading-protocol a{
	 color: #2a99fa;
	 cursor: pointer;
}
body .login-background .reg-content-box .form-login-box form .reading-protocol label input{
	 cursor: pointer;

}
body .login-background .reg-content-box .form-login-box form .reading-protocol .qiu{
	color: #2a99fa;
	margin-left: 110px
}
/*轮播图*/

body .slider{
	padding-top: 80px;
	overflow: hidden;/*内容溢出处理*/
}
body .qyg{
	margin: 35px;

}
body .qyg .qyg1{
	background: #f7f4df;
	border: 1px solid #efefef;

}
body .qyg .qyg2{
	border: 1px solid #efefef;
}
body .qyg .qyg3{
	border: 1px solid #efefef;
}
body .qyg .qyg4{
	border: 1px solid #efefef;
}
body .qyg .qyg5{
	border: 1px solid #efefef;
}
body .xinpinqu .xinpinqu1{
	border: 1px solid #efefef;
}
body .xinpinqu .xinpinqu2{
	border: 1px solid #efefef;
}
body .xinpinqu .xinpinqu3{
	border: 1px solid #efefef;
}
body .xinpinqu .xinpinqu4{
	border: 1px solid #efefef;
}
body .xinpin{
	margin-left: 200px;
	font-size:25px;
}
body .top1{
	margin-top: 20px;
}
body .xinpinqu{
	margin-top: 20px;
	
}
/*footer*/
body footer{
	position: relative;
	padding-top: 88px;
	background:  #333;
}
body footer .footer-logo{
	display: block;
	margin: 0 auto;
}
body footer .footer-nav{
	margin: 25px;
	color: #fff;
	text-align: center;/*文本居中*/
}
body footer .footer-nav a{
	color: #fff;
	display: inline-block;
	margin: 0 50px;
}
body footer .footer-icon{
	text-align: center;
}
body footer .footer-icon .footer-weixin{
	display: inline-block;
	height: 45px;
	width: 45px;
	background: #494949;
	border-radius: 50%;/*圆角*/
	cursor: pointer;/*crosshair 十字*/
	text-align: center;
	margin: 0 auto;
	line-height: 50px;
}
body footer .footer-icon .footer-weixin img{
	height: 30px;
	width: 30px;
	margin-top: 7.5px;
}
body footer .footer-text{
	margin-top: 25px;
	margin-bottom: 25px;
	color: #9a9a9a;
	font-size: 10px;
	text-align: center;
	line-height: 18px;
}
body footer .footer-text span{
	display: block;
}
body footer .footer-text span:first-child{
	font-weight: bold;
}
body footer .footer-copy{
	margin: 0 auto;
	border-top: 1px solid #616161;
	font-size: 10px;
	text-align: center;
	padding-bottom: 15px;
	padding-top: 15px;
	color: #9a9a9a;
}